* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #0f172a;
  line-height: 1.6;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #e5e7eb;
  background: #ffffff;
}

.nav-content {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu li a {
  color: #475569;
  font-weight: 600;
  font-size: 14px;
}

.btn-btn1 {
  background: #22c55e;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-btn2 {
  border: 1px solid #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  color: #ffffff;
}

/* Herp */
.hero {
  background: linear-gradient(180deg, #020617 0%, #020617cc 100%);
  color: #ffffff;
  padding: 100px 24px;
}

.hero-container {
  max-width: 720px;
  margin: auto;
}
.early {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  margin-bottom: 16px;
  color: #22c55e;
  font-weight: 600;
}
.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  color: #cbd5f5;
  font-size: 16px;
  margin-bottom: 32px;
}

.hero-actions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* Notes*/
.notes {
  padding: 80px 24px;
  text-align: center;
}

.notes-container {
  max-width: 1200px;
  margin: auto;
}

.notes h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 48px;
  font-size: 14px;
}

/* Cards */
.card-box {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #f8fafc;
  border-radius: 12px;
  padding: 32px 24px;
  max-width: 260px;
}

.card img {
  height: 40px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  color: #475569;
}
